.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color:#21ce99;
    font-weight: bold
}
.list-group-item {
    display: inline-block;
    margin: 5px;
}


#positions {
    padding-top: 67px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
}

.positions-title, .modal-header, .btn-primary  {
    background-color:#21ce99;
}

.badge-positions {
    padding: 5px;
    margin:3px
}

.list-group-item {
    font-size: larger;
}